/* :root {
  --background-color: #fff;
  --text-color: #000;
  --primary-color: #5358d5;
  --secondary-color: #7d9aea;
  --highlight-color: #fefefe;
  --modal-background: #fefefe;
}

[data-theme="dark"] {
  --background-color: #3f3f3f;
  --text-color: #f0f0f0;
  --primary-color: #3f3f3f;
  --secondary-color: #3f3f3f;
  --highlight-color: #3f3f3f;
  --modal-background: #3f3f3f;
} */
.transaction-details {
  /* border: 1px solid #ddd; */
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--background-color);
}

.report-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}

.report-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo-top-left {
  width: 50px;
  height: 50px;
}

.symbol-timestamp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.symbol {
  font-size: 18px;
  font-weight: bold;
}

.timestamp {
  font-size: 14px;
  color: var(--text-color);
}

.content {
  margin-top: 20px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  font-weight: normal;
}

.completed {
  color: green;
}

.pending {
  color: orange;
}

.underline {
  margin-top: 10px;
  margin-left: 30px;
  width: 80%;
  /* border: 1px solid #000; */
}
